
	h1{ 
		background-color: pink;
		font-size: 44px;
		color: ;
		font-family: Algerian;

	  }

	h2{ 
		background-color: orange ;
		font-size: 35px;
		color: blue;
		font-family: Algerian;

	  }
	p{
		color: brown;
		font-size: 21px;
		font-family: Times New Roman;



	}

	

